<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <title>Calculadora</title>

    <!-- ForerunNerdb -->
    <script src="resources/ForerunnerDB-master/js/dist/fdb-all.js" type="text/javascript"></script>
    <script type="application/javascript" src="db/setup.js"></script>
    <script type="application/javascript" src="db/Models/MigrationModel.js"></script>
    <script type="application/javascript" src="db/Models/Default_calculatorModel.js"></script>
    <script type="application/javascript" src="db/Models/Default_emailModel.js"></script>
    <script type="application/javascript" src="db/Models/HistoryModel.js"></script>
    <script type="application/javascript" src="db/run_migrations.js"></script>

    <!-- VUE -->
    <script src="js/vue.min.js" type="text/javascript"></script>

    <!-- UNDERSCORE JS -->
    <script src="js/underscore-min.js" type="text/javascript"></script>

    <script type="text/javascript" src="cordova.js"></script>

    <!-- JQUERY -->
    <script src="resources/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>

    <!-- ACCOUNTING_JS -->
    <script src="resources/bower_components/accounting/accounting.min.js" type="text/javascript"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- BOOTSTRAP-VALIDATOR -->
    <script src="resources/bower_components/bootstrap-validator/dist/validator.min.js" type="text/javascript"></script>

    <!-- SELECT 2 -->
    <link rel="stylesheet" href="resources/bower_components/select2/dist/css/select2.min.css">
    <script src="resources/bower_components/select2/dist/js/select2.js" type="text/javascript"></script>

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="resources/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- MENU -->
    <link rel="stylesheet" href="css/menu.css">

    <!-- JSON EXTERNALS -->
    <script type="text/javascript" src="sources/conceptos.js?2"></script>
    <script type="text/javascript" src="sources/ciius_gravados.js?2"></script>

    <style>
        body {
            font-family: "Source Sans Pro",sans-serif;
            min-height: 800px;
            padding-top: 56px;
        }
        .numeric{ text-align: right; }
        .no-ul-margin-bottom>ul{
            margin-bottom: 0px!important;
        }

        .bounce-enter-active {
            animation: bounce-in .5s;
        }
        .bounce-leave-active {
            animation: bounce-in .5s reverse;
        }
        @keyframes bounce-in {
            0% {
                transform: scale(0);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }

        /* Enter and leave animations can use different */
        /* durations and timing functions.              */
        .slide-fade-enter-active {
            transition: all .3s ease;
        }
        .slide-fade-leave-active {
            transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .slide-fade-enter, .slide-fade-leave-to
            /* .slide-fade-leave-active below version 2.1.8 */ {
            transform: translateX(10px);
            opacity: 0;
        }

        .callout.callout-danger{
            background-color: #dd4b39 !important;
            color: #fff !important;
            border-color: #c23321;
            border-radius: 3px;
            margin: 0 0 20px 0;
            padding: 15px 30px 15px 15px;
            border-left: 5px solid #eee;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .callout p:last-child {
            margin-bottom: 0;
        }

        .callout.callout-danger {
            border-color: #c23321;
            font-size: 12px;
        }
        .callout {
            border-radius: 3px;
            margin: 0 0 20px 0;
            padding: 15px 30px 15px 15px;
            border-left: 5px solid #eee;
        }

        .cargador{
            color: rgb(2, 171, 174);
            text-align: center;
        }

        *{
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-default no-margin navbar-fixed-top" style="background: white;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
                <a href="#" class="navbar-brand" style="padding: 5px 10px;">
                    <img src="images/logo_ag.png" class="pull-right" style="height: 87%; max-width: 75%;">
                </a>
            </div><!-- navbar-header-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li class="active" >
                        <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        </button>
                    </li>
                </ul>
            </div><!-- bs-example-navbar-collapse-1 -->
        </nav>
        <div id="wrapper" class="toggled-2">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                    <li class="active">
                        <a href="index.html"><span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-calculator fa-stack-1x "></i></span>Calculadora
                        </a>
                    </li>
                    <li>
                        <a href="#" v-on:click.prevent data-toggle="modal" data-target="#modalHistory">
                            <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-history fa-stack-1x "></i></span>Calculos enviados por email
                        </a>
                    </li>
                    <li>
                        <a href="tabla_ciius.html"><span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-object-group fa-stack-1x "></i></span>Tabla códigos CIIU
                        </a>
                    </li>
                    <li>
                        <a href="tabla_conceptos.html"><span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-object-ungroup fa-stack-1x "></i></span>Tabla conceptos
                        </a>
                    </li>
                    <li>
                        <a :href="url_savne" class="enlaceExterno"><span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-link fa-stack-1x"></i>
                        </span>Página del desarrollador</a>
                    </li>
                    <li>
                        <a :href="url_apk_android" class="enlaceExterno"><span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-android fa-stack-1x "></i>
                        </span>Versión para android</a>
                    </li>
                    <li>
                        <a :href="url_web" class="enlaceExterno"><span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-desktop fa-stack-1x "></i>
                        </span>Versión web</a>
                    </li>
                </ul>
            </div><!-- /#sidebar-wrapper -->

            <div id="page-content-wrapper" style="padding-top: 16px;">
                <div class="container-fluid xyz">
                    <div class="row">
                        <form data-toggle="validator" v-on:submit.prevent>
                            <div class="colxs-12 col-sm-12" style="text-align: center">
                                <h3 style="margin-top: 0;">
                                    Calculadora de Retenciones 2018
                                </h3>
                            </div>
                            <div class="colxs-12 col-sm-6">
                                <hr/>
                                <h4 style="text-align: center; color: #02abae;">Valores</h4>
                                <div class="form-group  has-feedback">
                                    <label class="control-label">Base en pesos colombianos $$</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input class="form-control numeric baseField" v-model="data_calculadora.base" type="number" min="1">
                                    </div>
                                    <div class="help-block with-errors no-ul-margin-bottom" style="margin-bottom: 0px !important;"></div>
                                    <p class="help-block" style="text-align: right; margin-top: 0px !important;"> {{ data_calculadora.base | formatMoney }} </p>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="data_calculadora.autoretenedor" > Soy autoretenedor
                                    </label>
                                </div>
                                <div class="form-group  has-feedback" v-show="!data_calculadora.autoretenedor">
                                    <label class="control-label">
                                        Concepto 2018
                                        <span v-if="data_calculadora.concepto !== null">
                                            ( {{ data_calculadora.concepto.porcentajeTarifa }} % )
                                        </span>
                                    </label>
                                    <select class="conceptos form-control select2" required>
                                        <option value="" selected disabled>Seleccione Concepto</option>
                                        <option v-for="(concepto_opt, key) in sources.conceptos" :value="concepto_opt.id">
                                            {{ concepto_opt.label }}
                                        </option>
                                    </select>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group  has-feedback">
                                    <label class="control-label">
                                        CIIUS Gravados
                                        <span v-if="data_calculadora.ciiu !== null">
                                            ( {{ data_calculadora.ciiu.tarifa }} % )
                                        </span>
                                    </label>
                                    <select class="ciius_gravados form-control select2" required>
                                        <option value="" selected disabled>Seleccione Ciiu</option>
                                        <option v-for="(ciiu_opt, key) in sources.ciius_gravados" :value="ciiu_opt.id">
                                            {{ ciiu_opt.codigo_ciiu_0079  }}) {{ ciiu_opt.label }}
                                        </option>
                                    </select>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="data_calculadora.aplica_iva" > Aplica IVA ({{ porcentaje_iva }}%)
                                    </label>
                                </div>
                            </div>
                            <div v-if="calculando" class="cargador">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                                <span>Calculando...</span>
                            </div>
                            <div class="colxs-12 col-sm-6">
                                <hr style="margin-bottom: 10px"/>
                                <transition name="slide-fade">

                                    <div v-if="error !== null" class="callout callout-danger">
                                        <p>{{ error}}</p>
                                    </div>
                                    <div v-else>
                                        <h4 style="text-align: center; color: #02abae;">Resultados</h4>
                                        <div class="form-group">
                                            <label class="control-label">Valor cobro</label>
                                            <div class="form-control numeric" readonly>{{ valor_cobro | formatMoney }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Valor retencion en la fuente</label>
                                            <div class="form-control numeric" readonly>{{ valor_retencion_fuente | formatMoney }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Valor retencion ICA</label>
                                            <div class="form-control numeric" readonly>{{ valor_retencion_ica | formatMoney }}</div>
                                        </div>

                                        <div class="form-group" v-if="data_calculadora.aplica_iva">
                                            <label class="control-label">Valor IVA</label>
                                            <div class="form-control numeric" readonly>{{ valor_iva | formatMoney }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Valor a pagar (incluye retenciones aplicadas)</label>
                                            <div class="form-control numeric" readonly>{{ valor_a_pagar | formatMoney }}</div>
                                        </div>
                                        <div v-if="calculando" class="cargador">
                                            <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                                            <span>Calculando...</span>
                                        </div>
                                        <div class="form-group" style="text-align: center;">
                                            <a href="#" v-on:click.prevent="acercar_calculo">
                                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                                Calcular hasta obtener valor de pago igual a {{ data_calculadora.base | formatMoney }}
                                            </a>
                                        </div>
                                        <div class="form-group" style="margin-top: 1em; text-align: center;">
                                            <a href="#" v-on:click.prevent data-toggle="modal" data-target="#modalEmail">
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                Enviar formato de cuenta de cobro a tu email
                                            </a>
                                        </div>
                                    </div>
                                </transition>
                            </div>
                            <div class="col-sm-12" style="text-align: center; padding-top: 0em; padding-bottom: 0em;">
                                <button v-on:click.prevent="dropDB" class="btn btn-danger btn-flat" style="background: darkred">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Borrar cotizaciones guardadas en este dispositivo
                                </button>
                            </div>
                            <div class="col-sm-12" style="text-align: center; padding-top: 0em; padding-bottom: 10em">
                                <hr/>
                                <div class="col-sm-4" style="text-align: center; padding-bottom: 2em;">
                                    <img src="images/savne_net.png" style="height: 50px"><br>
                                    Desarrollada por
                                    <a :href="url_savne">www.savne.net</a>
                                    <br>
                                    En alianza con <br>
                                    <a href="mailto:contabilidad@agasesoriascontables.com">contabilidad@agasesoriascontables.com</a><br>
                                    <p style="margin-top: 1em"><img src="images/logo_ag.png" style="width: 80%"></p>
                                </div>
                                <div class="col-sm-4" style="text-align: center; padding-bottom: 2em;">
                                    <a :href="url_apk_android">
                                        <img alt='Disponible en Google Play' src='images/google-play-badge.png' style="max-height: 90px"/>
                                    </a>
                                </div>
                                <div class="col-sm-4" style="text-align: center; padding-bottom: 2em;">
                                    <i class="fa fa-desktop" aria-hidden="true" style="color: #286090; font-size: 36px;"></i><br>
                                    Versión web<br>
                                    <a :href="url_web">
                                        www.calculadora-retenciones.savne.net
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>





        <!-- MODALS -->
        <div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <form data-toggle="validator" v-on:submit.prevent="enviarEmail">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Información para enviar email</h4>
                    </div>
                    <div class="modal-body" v-if="!enviando_email">
                        <div class="form-group has-feedback">
                            <label>Email:</label>
                            <input type="email" class="form-control" placeholder="tu_email@dominio.com" v-model="data_email.email" required>
                            <p class="help-block">
                                A este email se enviará la cuenta de cobro
                            </p>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Fecha de la cuenta de cobro:</label>
                            <input type="date" class="form-control" v-model="data_email.fecha" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Ciudad:</label>
                            <input type="text" class="form-control" v-model="data_email.ciudad" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label>Servicio(s) prestado(s):</label>
                            <template v-for="(servicio, index) in data_email.servicios_prestados" >

                                <div class="input-group" style="margin-top: 0.3em; cursor: pointer;">
                                    <input class="form-control"  v-model="servicio.nombre">

                                    <span v-if="index>0" class="input-group-addon" v-on:click.prevent="retirarServicio(servicio)" style="background: white">
                                        <i style="color: darkred" class="fa fa-trash"></i>
                                    </span>
                                    <span class="input-group-addon" v-else style="background: white">
                                    </span>
                                </div>
                            </template>
                            <div style="text-align: center">
                                <a href="#" v-on:click.prevent="agregarServicio">
                                    <i class="fa fa-plus"></i> Agregar Servicio
                                </a>
                            </div>
                        </div>
                        <h3>Información de tu cliente</h3>
                        <div class="form-group has-feedback">
                            <label>Nombre Cliente:</label>
                            <input type="text" class="form-control" placeholder="Empresa Z" v-model="data_email.cliente.nombre" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Tipo y número de identificación Cliente:</label>
                            <p class="help-block">
                                No olvides especificar al inicio si es NIT, CC, CE ...
                            </p>
                            <input type="text" class="form-control" placeholder="Nit. 00000000-0" v-model="data_email.cliente.identificacion">
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <h3>Tu informacion</h3>
                        <div class="form-group has-feedback">
                            <label>Tus nombres y apellidos:</label>
                            <input type="text" class="form-control" placeholder="" v-model="data_email.usuario.nombre" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Tu documento de identidad:</label>
                            <input type="text" class="form-control" placeholder="CC 000000" v-model="data_email.usuario.identificacion" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Tu número de teléfono:</label>
                            <input type="text" class="form-control" placeholder="300 00 000" v-model="data_email.usuario.telefono">
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>

                        <hr/>
                        <div class="form-group has-feedback">
                            <label>Texto al final de la cuenta de cobro:</label>
                            <textarea
                                class="form-control" rows="5" v-model="data_email.leyenda_al_final"
                                placeholder="Observaciones que coincideres importantes ejemplo: número de cuenta bancaria..."
                            ></textarea>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>

                    </div>
                    <div class="modal-body" v-else>
                        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                        <span>Un momento por favor, estamos enviando tu email...</span>
                    </div>

                    <div class="modal-footer" style="padding-bottom: 40em;">
                        <template v-if="!enviando_email">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </template>
                    </div>
                </div>
                </form>
            </div>
        </div>

        <div class="modal fade" id="modalHistory" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Historial <small>Limite 100 peticiones</small></h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Valor cobro</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="registro in history">
                                <tr>
                                    <td>{{ registro.data_email.cliente.nombre }}</td>
                                    <td style="text-align: right">{{ registro.data_calculadora.base | formatMoney }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ registro.fecha }}
                                    </td>
                                    <td style="text-align: left">
                                        <a href="#" v-on:click.prevent="cagarDesdeHistorial(registro)">
                                            Cargar <i class="fa fa-share"></i>
                                        </a>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modalConAnuncio modalConAnuncio_1" tabindex="-1" role="dialog" data-show="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">RECUERDA</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <img src="images/bombillo.png" width="200px"/>
                    </div>
                    <p style="text-align: center">
                        Si necesitas asesoría <strong> contable o tecnologíca </strong><br>
                        (sistemas de información, aplicaciones móviles, correo electrónico corporativo...)<br>
                        no dudes en escribirnos a <br>
                        <h4 style="text-align: center">
                            <a href="mailto:contabilidad@agasesoriascontables.com">contabilidad@agasesoriascontables.com</a>
                        </h4>
                        <h4 style="text-align: center">
                            <a href="mailto:asesor_tecnologico@savne.net">asesor_tecnologico@savne.net</a>
                        </h4>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Continuar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade modalConAnuncio modalConAnuncio_2" tabindex="-1" role="dialog" data-show="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Aún usas gmail o hotmail?</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <img src="images/email.png" width="150px"/>
                    </div>
                    <p style="text-align: center; padding-top: 1em;">
                        Tener tu propio correo corporativo proyecta confianza,
                        seguridad y seriedad ante clientes y proveedores. <br>
                        Para más información escríbenos a <br>
                        <h4 style="text-align: center">
                            <a href="mailto:asesor_tecnologico@savne.net">asesor_tecnologico@savne.net</a>
                        </h4>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Continuar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade modalConAnuncio modalConAnuncio_3" tabindex="-1" role="dialog" data-show="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Quieres tu propia calculadora o aplicación móvil?</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <img src="images/mobil.png" width="200px"/>
                    </div>
                    <p style="text-align: center; padding-top: 1em;">
                        Convierte tu celular en tu herramienta de trabajo en el día a día<br>
                        Escríbenos a:<br>
                        <h4 style="text-align: center">
                            <a href="mailto:asesor_tecnologico@savne.net">asesor_tecnologico@savne.net</a>
                        </h4>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Continuar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade modalConAnuncio modalConAnuncio_4" tabindex="-1" role="dialog" data-show="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crear empresa</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <img src="images/company.png" style="width: 80%"/>
                    </div>
                    <p style="text-align: center; padding-top: 1em;">
                        Deseas crear una empresa y no sabes por donde empezar?<br>
                        Escríbenos a <br>
                    <h4 style="text-align: center">
                        <a href="mailto:contabilidad@agasesoriascontables.com">contabilidad@agasesoriascontables.com</a>
                    </h4>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Continuar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade modalConAnuncio modalConAnuncio_5" tabindex="-1" role="dialog" data-show="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Problemas con tu declaración de renta?</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <img src="images/declaracion_renta.jpg" style="width: 80%"/>
                    </div>
                    <p style="text-align: center; padding-top: 1em;">
                        Nosotros te ayudamos para que te pongas al día en tu declaración de renta.<br>
                        Para saber como escríbenos a:<br>
                        <h4 style="text-align: center">
                            <a href="mailto:contabilidad@agasesoriascontables.com">contabilidad@agasesoriascontables.com</a>
                        </h4>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Continuar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade modalConAnuncio modalConAnuncio_6" tabindex="-1" role="dialog" data-show="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cansado de procesos repetitivos y aburridos?</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <img src="images/sistema_info.jpg" style="width: 80%"/>
                    </div>
                    <p style="text-align: center; padding-top: 1em;">
                        Es hora que sistematices procesos y tengas tu propio sistema de información.<br>
                        Para saber más escríbenos a:<br>
                        <h4 style="text-align: center">
                            <a href="mailto:asesor_tecnologico@savne.net">asesor_tecnologico@savne.net</a>
                        </h4>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Continuar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade modalConAnuncio modalConAnuncio_7" tabindex="-1" role="dialog" data-show="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Consejo</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <img src="images/security_money.png" width="200px"/>
                    </div>
                    <p style="text-align: center; padding-top: 1em;">
                        Cuida tus finanzas llevando tus cuentas claras.
                        <h4 style="text-align: center">
                            <a href="mailto:contabilidad@agasesoriascontables.com">contabilidad@agasesoriascontables.com</a>
                        </h4>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Continuar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript" src="js/index.js?8"></script>

    <!-- MENU -->
    <script type="text/javascript" src="js/menu.js"></script>

    <!-- Abre clicky -->
    <a title="Real Time Analytics" href="http://clicky.com/101111492" style="display: none;"><img alt="Real Time Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101111492); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101111492ns.gif"  style="display: none;"/></p></noscript>
    <!-- Cierra clicky -->

</body>
</html>


